@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body{
  background: #fafafa;
}

.navbar{
  background: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 5px 1.5rem;

}

.navbar ul{
  display: flex;
  justify-content: space-between;

}

.navbar ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 0rem 1rem;
  cursor: pointer;
}
ul li a{
  margin-left: 0.3rem;
}

ul li svg{
  width: 13px;
  height: 13px;
}

.first-part{
}
.second-part{

}
.third-part{


}